<header class="post-header">
  <h2 class="post-title">
    <a *ngIf="!isEdit" [href]="article.href">{{ article.title }}</a>
    <input
      *ngIf="isEdit"
      type="text"
      size="65"
      [(ngModel)]="article.title"
      (keyup.enter)="doChangeTitle()"
      (keyup.escape)="onCancel()"
    />
  </h2>
  <div class="post-info clearfix">
    <span class="post-date"
      ><i class="glyphicon glyphicon-calendar"></i
      >{{ article.date | date: "shortDate" }}</span
    >
    <span class="post-author"
      ><i class="glyphicon glyphicon-user"></i
      ><a href="http://blog.miniasp.com/author/will.aspx">{{
        article.author
      }}</a></span
    >
    <span class="post-category"
      ><i class="glyphicon glyphicon-folder-close"></i
      ><a [href]="article.categoryLink">{{ article.category }}</a></span
    >
    <!--發射一個doDelete事件-->
    <span><button (click)="doDelete()">刪除文章</button></span>
    <!--預設顯示 true，click 後將 isEdit改成true-->
    <span
      ><button *ngIf="!isEdit" (click)="isEdit = true">編輯標題</button></span
    >
    <!--預設不顯示 false，click 後將 isEdit改成true-->
    <span><button *ngIf="isEdit" (click)="onCancel()">取消編輯</button></span>

    <span><button (click)="onModify(article)">編輯其他</button></span>
    <app-article-dialog
      (dialogClosed)="onDialogClosed()"
      (changes)="onModifyArticle($event)"
      [isDialogVisibled]="article.isDialogOpen"
      [article]="article"
    ></app-article-dialog>
  </div>
</header>
