:host ::ng-deep .p-dialog{
  width: 65vw;
  height: 75vh;
  background-color: rgb(216, 213, 239);
  padding: 10px;
}

:host ::ng-deep .p-dialog-header{
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.content{
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(216, 213, 239);
}

:host ::ng-deep .p-calendar{
  background-color: rgb(216, 213, 239);
}
:host ::ng-deep .p-datepicker{
  background-color: rgb(216, 213, 239);
}
