<div id="Dialog">
  <p-dialog header="編輯文章" [(visible)]="isDialogVisibled">
    <div class="header">
      <div class="date">
        <label>date:</label>
        <p-calendar
          [(ngModel)]="date"
          format="yy/mm/dd"
          hourFormat="HH:mm"
          [showTime]="true"
          [readonlyInput]="true"
          [showIcon]="true"
        ></p-calendar>
      </div>
      <div class="author">
        <label>author:</label>
        <input type="text" [(ngModel)]="article.author" />
      </div>
      <div class="category">
        <label>category:</label>
        <input type="text" [(ngModel)]="article.category" />
      </div>
    </div>
    <div class="content">
      <div class="title">
        <label>title:</label>
        <input type="text" [(ngModel)]="article.title" style="width: 700px" />
      </div>
      <div class="summary">
        <label>summary:</label>
        <textarea
          id="summary"
          [(ngModel)]="article.summary"
          rows="10"
          cols="80"
        ></textarea>
      </div>
    </div>
    <div class="footer">
      <button (click)="doClose()">取消修改</button>
      <button (click)="doModify()">修改</button>
    </div>
  </p-dialog>
</div>
